<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Logi Timera</title>

</head>
<body>
<div>
    <th:block th:each="task : ${logs}">
        <tr>
            <td th:text="${task.name}">...</td>
            <td th:text="${task.start}">...</td>
            <td th:text="${task.finish}">...</td>
        </tr>
    </th:block>
</div>

</body>
</html>